* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131419;
}

.calc {
    width: 340px;
    height: 500px;
    background-color: #131419;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 
    -3px -3px 7px rgba(255, 255, 255, 0.05);
}

.result input[type=text] {
    caret-color: #131419;
    background: none;
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5), 
    -3px -3px 7px rgba(255, 255, 255, 0.05);
    cursor: default;
    text-align: right;
    color: #b3b3b3;
    padding: 0 20px;
    font-size: 30px;
}

.result input[type=text]:focus {
    outline: none; 
}

.result .delete {
    position: relative;
    top: 40px;
    left: 10px;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    text-align: center;
    padding: 30px 0 0 0;
}

.buttons input[type=button] {
    height: 55px;
    width: 55px;
    font-size: 25px;
    margin: 4px;
    color: #b3b3b3;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: #131419;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), 
    -3px -3px 7px rgba(255, 255, 255, 0.05);
}

.row:nth-child(1) {
    text-align: left;
    padding: 0 0 0 8px;
}

.row:nth-child(4) {
    text-align: left;
    padding: 0 0 0 8px;
}

.row:nth-child(5) {
    position: relative;
    bottom: 30px;
}

.buttons input[name=clean] {
    width: 120px;
}

.buttons input[name=zero] {
    width: 120px;
}

.buttons input[name=equals] {
    position: relative;
    bottom: 30px;
    height: 120px;
}

.darkButton {
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -20px;
    position: relative;
    cursor: pointer;
}

.darkButton span {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    transition: .5s;
}